%h2.page-header Reviews
- @book.ratings.each do |rating|
  %section.review-list
    %article.row
      .panel.panel-default.arrow.left
        .panel-body
          %header.text-left
            .review-user
              %i.fa.fa-user
              = rating.user.full_name
            %time.review-date
              %i.fa.fa-clock-o
              = rating.created_at.strftime("%b %d, %Y")
          .review-text
            %p
              = rating.review
