.col-sm-8.col-md-9
  %h1= t("header.shop")
  = render partial: "shared/list_books", locals: {books: @books}
  = paginate @books
= render partial: 'shared/categories', locals: {categories: @categories}
