// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
  @extend .btn;
  cursor: default;
}
.thumbnail a> img{
  width: 200px;
  height: 250px;
}
.img-thumbnail {
  margin-right: 20px;
  margin-bottom: 30px;
}
.margin-bottom{
  margin-bottom: 10px;
}
.active-link{
  color: #555;
  background-color: #e7e7e7;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
.stars {
    margin:20px auto 1px;
}
